body {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
}
details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  content: "";
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

::before {
  font-family: "copenhagen-icons";
  font-style: normal;
  font-weight: normal;

  line-height: 1em;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
